.navigation {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  z-index: 2;
  background-color: #696969a1;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

.nav-menu li a {
  display: block; /* Style links to fill the list item area */
  color: rgb(255, 255, 255); /* Text color */
  text-align: center;
  padding: 14px 16px; /* Spacing inside links */
  text-decoration: none;
  font-size: 1.5rem;
}

/* Change link color on hover */
.nav-menu li a:hover {
  color: black;
}

.logo:hover {
  fill: black;
}

.logo img {
  fill: white;
}

.active {
  font-weight: 500;
}

.navigation button {
  font-size: 1.2rem;
}

.mobile-menu {
  display: none;
  position: fixed;
  padding: 0;
  margin: 0;
  height: 90%;
  bottom: 10%;
  right: 0;
  z-index: 2;
}

.menu-open {
  animation: expand 1s ease-in-out forwards;
  display: flex;
  align-items: end;
}

.menu-close {
  animation: collapse 1s ease-in-out forwards;
}

.mobile-links {
  animation: expand-horizontal 1 ease-in-out forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  gap: 3rem;
  padding-left: 0;
}

.mobile-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  white-space: nowrap;
}

.hamburger-react {
  color: rgb(255, 255, 255);
  margin: 15px 30px 0 0;
}

.large {
  display: none;
}

@keyframes expand {
  from {
    width: 0px;
    height: 0%;
    background-color: rgba(255, 255, 255, 0);
  }

  to {
    width: 75%;
    height: 65%;
    background-color: #ffffffed;
  }
}

@keyframes collapse {
  from {
    background-color: #ffffffed;
    width: 75%;
    height: 65%;
    display: block;
  }

  to {
    height: 0px;
    width: 0px;
    background-color: rgba(255, 255, 255, 0);
    display: none;
  }
}

@keyframes expand-horizontal {
  from {
    width: 0px;
  }

  to {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .navigation {
    top: 0;
    left: 0;
    background-color: #858585ac;
    padding: 0 4rem 0 3rem;
  }

  .nav-menu {
    display: flex;
    position: relative;
    top: 0;
  }

  .large {
    display: flex;
    font-size: 25px;
    font-weight: 200;
    gap: 15px;
  }

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  a:hover {
    text-shadow: 0 0 1px white;
  }

  .hamburger-react {
    display: none;
  }
}

@media screen and (min-width: 2000px) {
  .large {
    font-size: 3rem;
  }
  .logo .active {
    height: 15rem;
    width: 15rem;
  }
}
