.about-page {
  background-image: url("/bg3.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  height: 100%;
}

.about-us-title {
  font-size: 3rem;
  font-weight: 300;
  color: white;
  background-color: rgba(29, 29, 29, 0.524);
  margin: 0;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.722);
}

.about-description {
  padding: 3rem 2rem 3rem 2rem;
  font-size: 2rem;
  color: white;
  background-color: rgba(29, 29, 29, 0.524);
}
