.about-page {
  background-image: url("/kira-laktionov-z1PAduRYGQs-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.about-us {
  font-size: 23px;
  margin: 8rem 5rem 0 5rem;
  position: relative;
  top: 3rem;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
}
