/* Contact Page */

.contact-page {
  background-image: url("/shawn-kenessey-Gjo5wE-W4oc-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  text-align: center;
  height: 100%;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-title {
  font-size: 3rem;
  font-weight: 300;
  color: white;
}

.contact-pics {
  width: 7rem;
}

.general-questions a {
  color: black;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  background-color: rgba(241, 241, 241, 0.3);
  padding-bottom: 2rem;
}

.contact-link {
  height: 3rem;
  margin: 2rem 0 0 1rem;
}

.contact-link-container {
  display: flex;
  gap: 5rem;
  margin: 3rem 0 7rem 0;
}

.mail-to-sell-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-to-sell {
  color: black;
  font-size: 2rem;
}

.mail-to-sell {
  padding: 0 2rem 0 2rem;
  background-color: rgba(241, 241, 241, 0.3);
}

.contact-link-mail {
  width: 3rem;
}
