/* Contact Page */

.contact-page {
  background-image: url("/nrd-_Xp_PU4xhCU-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  text-align: center;
  height: 100%;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-title {
  font-size: 3rem;
  font-weight: 300;
  color: white;
  background-color: rgba(0, 0, 0, 0.213);
}

.contact-pics {
  width: 5rem;
}

.general-questions a {
  color: black;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  background-color: rgba(241, 241, 241, 0.5);
  padding-bottom: 2rem;
}

.request-catalog a {
  color: black;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  background-color: rgba(241, 241, 241, 0.5);
  padding-bottom: 2rem;
}

.mail-to-sell {
  color: black;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  background-color: rgba(241, 241, 241, 0.5);
  padding-bottom: 2rem;
}

.contact-to-sell {
  color: black;
}

.contact-link-mail {
  width: 3rem;
}

.contact-link {
  height: 3rem;
  margin: 2rem 0 0 1rem;
}

.contact-link-container {
  display: flex;
  gap: 5rem;
  margin: 3rem 0 7rem 0;
}
