/* Contact Page */

.contact-page {
  background-image: url("/bg1.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  height: 100%;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-title {
  font-size: 3rem;
  font-weight: 300;
  color: white;
  background-color: rgba(0, 0, 0, 0.213);
}

svg.contact-pics {
  width: 5em;
}

.general-questions a {
  color: black;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  background-color: rgba(241, 241, 241, 0.5);
  padding-bottom: 2rem;
}

.request-catalog a {
  color: black;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  background-color: rgba(241, 241, 241, 0.5);
  padding-bottom: 2rem;
}

.mail-to-sell a {
  color: black;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(241, 241, 241, 0.5);
}

.contact-to-sell {
  color: black;
  margin-bottom: 0;
}

.contact-link-mail {
  width: 15%;
  height: 15%;
}

.contact-link {
  height: 3rem;
  margin: 2rem 0 0 1rem;
}

.contact-link-container {
  display: flex;
  gap: 5rem;
  margin: 3rem 0 7rem 0;
}
.catalog-pic {
  margin: 5px 0 0 15px;
}

.message-pic {
  margin: 15px 0 0 10px;
}

@media screen and (min-width: 800px) {
  .mail-to-sell a,
  .general-questions a,
  .request-catalog a,
  .contact-to-sell {
    background-color: #ffffff00;
    color: white;
  }

  .contact-link img {
    fill: white;
  }

  .catalog-pic svg {
    margin-left: 15px;
  }

  .contact-title {
    padding: 0 1rem 0 1rem;
    background-color: black;
  }
}
