.location-page {
  height: 100%;
  background-image: url("/bg2.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
}

.location-title {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 0 5px black;
  color: rgb(255, 255, 255);
  padding: 0 1rem 0 1rem;
  background-color: rgba(40, 40, 40, 0.7);
}

.find-us {
  padding: 5rem 2rem 0 2rem;
  color: rgb(255, 255, 255);
}

.store-list ul {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
}

.store-list-logo {
  width: 100%;
  opacity: 85%;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sell-hapa {
  font-size: 30px;
  font-weight: 200;
  padding: 15px;
  background-color: black;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: flash 1s linear infinite alternate;
}

.link-container-locate {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.links-locate {
  color: black;
  width: 6rem;
  height: 6rem;
}

@keyframes flash {
  0% {
    background-color: black;
  }
  25% {
    background-color: black;
  }
  50% {
    background-color: black;
  }
  75% {
    background-color: black;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.155);
  }
}
