body {
  background-image: url(/anna-sullivan-MfC0v78kKbo-unsplash.jpg);
  background-size: 200%;
  background-position: top;
  font-family: "Urbanist", sans-serif;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

@keyframes main {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

.main {
  animation: main 1s linear;
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: y scroll;
  /* These last 2 properites clean up overshoot weirdness */
  /* animation-iteration-count: 1;
  animation-fill-mode: both; */
}

h3 {
  margin: 0;
  font-weight: 100;
}

.pic {
  display: flex;
  justify-content: center;
  /* background-color: #ffabd2; */
  background-color: rgba(255, 255, 255, 0.466);
  margin: 5rem 3rem 3rem 3rem;
}

.main-pic {
  width: 20rem;
  height: auto;
}

.logo {
  width: 5rem;
}

.pic-er {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
  background-color: rgba(196, 196, 196, 0.347);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
}

.pics-clickable {
  width: 80vw;
  height: 40vh;
}

.locate-us {
  width: 100%;
  background-color: #ffabd2b4;
}

.spacer {
  width: 100%;
  height: 5rem;
}

@media screen and (min-width: 800px) {
  body {
    background-size: cover;
  }

  .navigation {
    top: 0;
    left: 0;
  }

  .nav-menu {
    display: flex;
    position: relative;
    top: 0;
  }

  .large {
    display: flex;
  }

  .hamburger-react {
    display: none;
  }
}
