body {
  /* background-image: url(/anna-sullivan-MfC0v78kKbo-unsplash.jpg); */
  background-size: 200%;
  /* background-position: ; */
  font-family: "Urbanist", sans-serif;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

h3 {
  margin: 0;
  font-weight: 100;
}

.first-pic {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  margin: 3rem 3rem 3rem 3rem;
}

.main-pic {
  width: 20rem;
}

.logo {
  width: 5rem;
}

.opener {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin: 3rem 1rem 2rem 1rem;
  text-shadow: 0 0 10px #ffffffb4;
}

.pic-er {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
  background-color: rgb(0, 0, 0);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  color: white;
}

.pics-clickable {
  width: 80vw;
}

.locate-us {
  width: 100%;
  background-color: #ffabd2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 0 3rem 0;
  padding: 3rem 5rem 3rem 5rem;
  animation: bgcolor 30s forwards 5s infinite ease-in-out;
}

@keyframes bgcolor {
  0% {
    background-color: #ffabd2;
  }
  15% {
    background-color: #ffabd2;
  }
  25% {
    background-color: #f94145;
  }
  45% {
    background-color: #f94145;
  }
  50% {
    background-color: #f0f029;
  }
  65% {
    background-color: #f0f029;
  }
  75% {
    background-color: #6c8708;
  }
  85% {
    background-color: #6c8708;
  }
  100% {
    background-color: #ffabd2;
  }
}

.locate-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.spacer {
  width: 100%;
  height: 5rem;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 7rem;
}

.products img {
  cursor: pointer;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.links {
  height: 3rem;
  width: 3rem;
}

@media screen and (min-width: 800px) {
  body {
    background-size: cover;
  }

  .first-pic {
    margin: 15rem 5rem 5rem 5rem;
  }

  .opener {
    margin: 10rem 5rem 8rem 5rem;
  }

  .pics-clickable {
    width: 20rem;
  }

  .pic-er {
    width: fit-content;
    display: flex;
    flex-direction: column;
  }

  .product-pic {
    width: 20rem;
  }

  .pic-selector {
    display: flex;
    justify-content: space-around;
  }

  .description {
    flex-direction: row;
  }

  .contacts {
    margin-top: 10rem;
  }

  .story {
    margin-top: 10rem;
  }

  .find-us {
    margin-top: 10rem;
  }

  .product-container {
    margin-top: 10rem;
  }

  .products {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
