#app {
  height: 100%;
}
html,
body {
  position: relative;
}

.swiper {
  width: 100%;
  height: 25rem;
  padding: 2rem 1rem 2rem 1rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff54;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgba(208, 208, 208, 0);
}

.swiper-pagination-bullet-active {
  background: #f94151;
}

@media screen and (min-width: 800px) {
  .swiper {
    height: 90dvh;
    background-color: #6969693a;
  }

  .swiper-pic {
    cursor: pointer;
  }

  .swiper-slide img {
    object-fit: contain;
  }

  .swiper-slide {
    background: rgba(255, 255, 255, 0);
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: rgb(208, 208, 208);
  }
}
